body{
    background:#eee;
}
label{
    display:block;
}
.header-row{
    background: #666;
    color:#eee;
}
.card-wrapper{
    &:nth-child(3n+1){
        clear:both;
    }
    .card{
        background: #fff;
        overflow:hidden;
        padding:1rem;
        margin:0.9375rem 0;
        .status,
        .privacy{
            background:green;
        }
        .is-requested{
            background:orange;
        }
        .not-follow,
        .is-private{
            background:red;
        }
    }
}
.pic{
    text-align: left;
    .pic-link{
        display: block;
        position: relative;
        .idx{
            display: block;
            position: absolute;
            bottom:0;
            right:0;
            padding:0 5px;
            color:#fff;
            text-shadow:1px 1px 2px #000;
        }
    }
}
