$medium: "only screen and (min-width: 40.0625em)";
$large: "only screen and (min-width: 64.0625em)";

body{
    background:#eee;
}
label{
    display:block;
}
a{
    text-decoration:none;
}
.button:not(.clickable){
    cursor:default;
}
.search-form{
    background: #222;
    color:#ccc;
    position:fixed;
    top:0;
    right:0;
    left:0;
    z-index: 1;
}
.content-row{
    padding-top:9rem;
}
.card-wrapper{
    @media #{$medium} {
        &:nth-child(2n+1){
            clear:both;
        }
    }
    @media #{$large} {
        &:nth-child(2n+1){
            clear:none;
        }
        &:nth-child(3n+1){
            clear:both;
        }
    }
    .card{
        background: #fff;
        overflow:hidden;
        padding:1rem 1rem 0 1rem;
        margin:0.9375rem 0;
    }
}
.pic{
    text-align: left;
    .pic-link{
        display: block;
        position: relative;
        overflow: hidden;
        margin-bottom:1rem;
        .idx{
            display: block;
            position: absolute;
            bottom:0;
            right:0;
            padding:0 5px;
            color:#fff;
            text-shadow:1px 1px 2px #000;
        }
    }
}