<!DOCTYPE html>
<html lang="en" ng-app="instaManager">
<head>
    <meta charset="UTF-8">
    <title>Instagram Manager</title>
    <link rel="stylesheet" href="dist/libs/normalize.css" />
    <link rel="stylesheet" href="dist/libs/foundation.min.css" />
    <script src="dist/libs/angular.min.js"></script>
    <script src="dist/js/instaManager.min.js"></script>
    <style type="text/css">
        label{
            display:block;
        }
    </style>
</head>
<body>
    <div id="app">
        <div ng-controller="mainCtrl">
            <label>
                User ID : <input type="text" placeholder="id" ng-model="id" />
            </label>
            <label>
                Token : <input type="text" placeholder="token" ng-model="token" />
            </label>
            <button ng-click="sort('outgoing_status')">Sort Status</button>
            <div>
                <people-elt ng-repeat="people in data | orderBy:order:reverse" people="people" token="{{token}}" userindex="{{$index}}"></people-elt>
            </div>
            <button ng-click="load()" ng-show="!lastPage">Load</button>
        </div>
    </div>
</body>
</html>